<!--<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="" class="logo"><img src="/assets/images/logo.gif" alt="logo" /></a>
			</div>
		</div>
	</div>
</div>
<div class="banner text-center">
	<img src="/assets/images/mark.png" alt="banner mark" />
	<h1>Welcome back {{fname}}.</h1>
	<h3>We have some more offers for you to take a look at.</h3>
</div>
<div class="container text-center" style="margin: 70px auto;">
	<h1>You are on the success page!</h1>
</div>
<div class="footer">
	<div class="footer-holder">
		<ul>
			<li><a href="">Privacy Policy</a></li><li><a href="">Terms &amp; Conditions</a></li><li><a href="mailto:postman@freegroceries.com.au?subject=Free Groceries Enquiry">Contact Us</a></li>
		</ul>
		<p>Freegroceries.com.au is an independent rewards program for consumers and is not affiliated with, sponsored by or endorsed by any of the listed products or retailers. Trademarks, service marks, logos, and/or domain names (including, without limitation, the individual names of products and retailers) are the property of their respective owners.</p>
	</div>
</div>-->

  <div id="wrapper" >
    <div id="header">
      <div class="header-holder">
        <strong class="logo"><a href="#">Free Groceries</a></strong>
      </div>
      <div id="banner" class="steps step-final">
        <div class="container">
          <img src="/assets/images/woolworths.png" alt="#" />
          <h1>Congratulations!</h1>
          <h3>As soon as we have verified your registration<br>we will credit your account with the first <span>$20</span></h3>
        </div>
      </div>
    </div>
    <div id="main" style="margin: 50px;">
      <section class="title-with-desc sec-important">
        <div class="container">
          <div class="title-holder">
            <h2>Important!</h2>
          </div>
          <div class="text-holder">
            <p>To verify, click the confirmation link in the email we just sent you.</p>
            <p>Please also add our email address <a href="mailto:postman@freegroceries.com.au"  style="color: #0b7f3e;">postman@freegroceries.com.au</a> to your email Safe List to receive free groceries offers.</p>
          </div>
        </div>
      </section>
      <section class="title-with-desc bg-green">
        <div class="container">
          <div class="title-holder">
            <h2>Bonus Offers!</h2>
          </div>
          <div class="text-holder">
            <p>Check your inbox… we just sent you your first bonus Grocery Cash offer.</p> 
            <p>We'll also email you regular offers and opportunities to earn more Grocery Dollars to get your balance up fast! </p> 
            <p>Once you have $50 credit you can redeem by emailing us at: redeem@freegroceries.com.au: <a href="mailto:redeem@freegroceries.com.au">redeem@freegroceries.com.au</a></p>
          </div>
        </div>
      </section>
     
    </div>
    <div id="footer">
      <div class="footer-holder">
        <ul>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="terms.html">Terms &amp; Conditions</a></li>
          <li><a href="mailto:postman@freegroceries.com.au?subject=Free Groceries Enquiry"> Contact Us</a></li>
        </ul>
        <p>Freegroceries.com.au is an independent rewards program for consumers and is not affiliated with, sponsored by or endorsed by any of the listed products or retailers. Trademarks, service marks, logos, and/or domain names (including, without limitation, the individual names of products and retailers) are the property of their respective owners.</p>
      </div>
    </div>
  </div>