<p>
  offers works!
  <a href="/offers?custom%20city%20or%20suburb=Sydney&custom%20gender=Female&custom%20list%20selection=1975&custom%20postcode=2042&custom%20state=NSW&custom%20street%20address=4%20617%20King%20St%20Newtown&custom%20telephone%20number=0405320700&custom%20which%20voucher%20would%20you%20like=Coles&email=morganlean%40gmail.com&from=morganlean%40gmail.com&listname=freegroceriesau&meta_adtracking=fg-morgan&meta_message=1&meta_preselected_awf_field-88471266=&meta_preselected_awf_field-88471268=&meta_preselected_awf_field-88471269=&meta_preselected_awf_field-88471270=&meta_required=name%20%28awf_first%29%2Cname%20%28awf_last%29%2Cemail%2Ccustom%20Telephone%20Number&meta_split_id=&meta_web_form_id=896400247&name=morgan%20lean&name%20(awf_first)=morgan&name%20(awf_last)=lean&submit=Join%20FREE">new url</a>
</p>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="" class="logo"><img src="/assets/images/logo.gif" alt="logo" /></a>
			</div>
		</div>
	</div>
</div>
<div class="banner text-center">
	<img src="/assets/images/mark.png" alt="banner mark" />
	<h1>You are almost there!</h1>
	<h3>Simply complete the offers below so we know what deals interest you. All offers are FREE &amp; take 1~2 mins.</h3>
</div>
<div class="container offers-list">
	<div class="row" *ngIf="isDataAvailable">
		<div *ngFor="let offer of offers" class="col-lg-12 offer-item">
			<div class="col-lg-3 text-center offer-image">
				<img src={{offer.img_url}} />
			</div>
			<div class="col-lg-7">
				{{offer.description}}
			</div>
			<div class="col-lg-2 text-center offer-action">
				<a href="">Yes</a> <a href="javascript:void(0)" (click)="onClickNo()">No</a>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="!isDataAvailable">
		<h2>No offers available.</h2>
	</div>
</div>
<div class="footer">
	<div class="footer-holder">
		<ul>
			<li><a href="">Privacy Policy</a></li><li><a href="">Terms &amp; Conditions</a></li><li><a href="mailto:postman@freegroceries.com.au?subject=Free Groceries Enquiry">Contact Us</a></li>
		</ul>
		<p>Freegroceries.com.au is an independent rewards program for consumers and is not affiliated with, sponsored by or endorsed by any of the listed products or retailers. Trademarks, service marks, logos, and/or domain names (including, without limitation, the individual names of products and retailers) are the property of their respective owners.</p>
	</div>
</div>